.container 
  .level 
    = "Lv.#{@user_level}"
  .home_title
    %p コンディションを入力しよう！
  .home_link
    = link_to "コンディションを入力する", new_condition_path, class: 'link'
  .home_subtitle
    %p これまでのコンディション
  .hidden.conditions
    - @conditions.each do |condition|
      .condition
        = link_to condition_path(condition.dates) do
          .condition_link
            = condition.dates
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'mental.png'
                  %p mental
                .section_title_detail
                  = condition.mental
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'temperature.png'
                  %p temperature
                .section_title_detail
                  = condition.temperature
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'sleeptime.png'
                  %p sleep
                .section_title_detail
                  = condition.sleep_start.strftime( "%H:%M" )
                  %span -
                  = condition.sleep_end.strftime( "%H:%M" )
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'exercise.png'
                  %p exercise
                .section_title_detail
                  = condition.exercise
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'food.png'
                  %p food 
                .section_title_detail
                  = condition.food 
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'weight.png'
                  %p weight
                .section_title_detail
                  = condition.weight
