.container 
  .level 
    = link_to "Lv.#{@user_level}", profile_path
  .home_title
    %p コンディションを入力しよう！
    %p 「コンディションを入力」から今日のコンディションを記録できます。
    %p 5日入力するごとにレベルが上がっていきます。
    %p 最大Lv.73 1年続ければ達成できます。
    %p 毎日続けましょう！
  .home_link
    = link_to "コンディションを入力", new_condition_path, class: 'link'
  - if @conditions.exists?
    .home_subtitle
      %p.sub これまでのコンディションを表示
  .hidden.conditions
    - @conditions.each do |condition|
      .condition
        = link_to condition_path(condition.dates) do
          .condition_link
            = condition.dates
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'mental.png'
                  %p mental
                .section_title_detail
                  = condition.mental
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'temperature.png'
                  %p temperature
                .section_title_detail
                  = condition.temperature
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'sleeptime.png'
                  %p sleep
                .section_title_detail
                  = condition.sleep_start.strftime( "%H:%M" )
                  %span -
                  = condition.sleep_end.strftime( "%H:%M" )
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'exercise.png'
                  %p exercise
                .section_title_detail
                  = condition.exercise
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'food.png'
                  %p food 
                .section_title_detail
                  = condition.food 
            .section 
              .section_title
                .section_title_tag
                  = image_tag 'weight.png'
                  %p weight
                .section_title_detail
                  = condition.weight
