.header
  - if current_page?(root_path)
    .header_left
      = image_tag 'health.png'
    .header_title
      HealthCheck
    .header_right
      = link_to 'logout', destroy_user_session_path, data: {method: 'delete'}, class: 'logout_btn'
  - else 
    .header_left
      = image_tag 'health.png'
    .header_title
      = link_to 'HealthCheck', root_path
    .header_right
      = link_to 'Home', root_path, class: 'logout_btn'